footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: #fff;
    box-shadow: var(--shadow);
}
.fa-heart {
    color: #52c234;
}

/* Respnsive configuration */
@media(max-width: 767px) {
    footer.footer {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}