aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}
aside.logo img {
    padding: 0px 15px;
    width: 100%;
}

/* Respnsive configuration */
@media(max-width: 767px) {
    aside.logo img {
        width: 40%;
    }
    aside.logo a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}