main > div {
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
}

/* Respnsive configuration */
@media(max-width: 767px) {
    div.justify-content-end {
        justify-content: center !important;
    }
    div.justify-content-end button{
        width: 50%;
    }
    .btn {
        margin-left: 0px;
        margin: 2px !important;
    }
}
@media(max-width: 878px) {
    .btn {
        margin-left: 0px;
        margin: 2px !important;
    }
}